option_settings:
  aws:elasticbeanstalk:application:environment:
    # Estas são variáveis de ambiente que você pode definir.
    # É MELHOR definir DJANGO_SECRET_KEY e outras variáveis sensíveis
    # diretamente no console do Elastic Beanstalk para maior segurança.
    # DJANGO_SETTINGS_MODULE: "meuprojeto_django.settings" # O EB geralmente detecta isso, mas pode ser explícito.

  aws:elasticbeanstalk:container:python:
    WSGIPath: meuapp.wsgi:application # Caminho para o seu arquivo WSGI

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/: staticfiles/ # Mapeia a URL /static/ para a pasta staticfiles/
                           # Onde o collectstatic colocou seus arquivos.