<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
</head>
<body>
    <h1>{{ mensagem }}</h1>
    <h2>Uma mensagem para voce meu amor, te amo gatinha !</h2>
    <p>Se você está vendo isso, a view, URL e template estão funcionando!</p>
    <p>Você pode acessar a página de inicial por aqui , nesse caso estou subindo uma atualização</p>
    <p>Para mais informações, visite a <a href="https://docs.djangoproject.com/en/stable/">documentação do Django</a>.</p>
</body>
</html>